<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://pro.fontawesome.com/releases/v5.13.1/css/all.css"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>Takolya - Konu</title>
    <meta name="next-head-count" content="3" />
    <link
      rel="preload"
      href="takolya.css"
      as="style"
    />
    <link
      rel="stylesheet"
      href="takolya.css"
      data-n-g=""
    />
    <noscript data-n-css=""></noscript>
    <script
      defer=""
      nomodule=""
      src="/_next/static/chunks/polyfills-a40ef1678bae11e696dba45124eadd70.js"
    ></script>
    <script
      src="/_next/static/chunks/webpack-af28476a2e7790fd48db.js"
      defer=""
    ></script>
    <script
      src="/_next/static/chunks/framework-2191d16384373197bc0a.js"
      defer=""
    ></script>
    <script
      src="/_next/static/chunks/main-011e14431c997dd5213e.js"
      defer=""
    ></script>
    <script
      src="/_next/static/chunks/pages/_app-509c2dc37a21b6cdf9cc.js"
      defer=""
    ></script>
    <script
      src="/_next/static/chunks/pages/index-d2acd689f30c49e2cc47.js"
      defer=""
    ></script>
    <script
      src="/_next/static/C95lqdqwZ5vGD4yNUSLu7/_buildManifest.js"
      defer=""
    ></script>
    <script
      src="/_next/static/C95lqdqwZ5vGD4yNUSLu7/_ssgManifest.js"
      defer=""
    ></script>
  </head>
  <body>
    <div id="__next">
      <html data-theme="dark">
        <div class="bg-base-300 overflow-x-hidden">
          <div class="transition-all duration-300">
            <nav
              class="navbar bg-base-400 lg:sticky top-0 h-20 z-50 text-neutral-content p-4"
            >
              <div class="flex-none px-2 mx-2">
                <span class="text-lg font-bold">Takolya</span>
              </div>
              <div class="flex-1 px-2 mx-2">
                <div class="items-stretch hidden lg:flex">
                  <a
                    href="/"
                    class="transition-all duration-200 hover:text-white text-gray-300 hover:underline items-center flex mr-4 text-white underline"
                    >Ana Sayfa</a
                  ><a
                    href="/threads"
                    class="transition-all duration-200 hover:text-white text-gray-300 hover:underline items-center flex mr-4"
                    >Konular</a
                  ><a
                    href="/create-thread"
                    class="transition-all duration-200 hover:text-white text-gray-300 hover:underline items-center flex mr-4"
                    >Konu Oluştur</a
                  ><% if (member) { %>
                    <% if (!admins.includes(member.id)) { %>
                      <a
                        href="/redeem"
                        class="transition-all duration-200 hover:text-white text-gray-300 hover:underline items-center flex mr-4"
                        >Kod Kullan</a
                      >
                    <% } else { %>
                      <a
                        href="/redeem"
                        class="transition-all duration-200 hover:text-white text-gray-300 hover:underline items-center flex mr-4"
                        >Kod Kullan</a
                      ><a
                        href="/admin"
                        class="transition-all duration-200 hover:text-white text-gray-300 hover:underline items-center flex mr-4"
                        >Yetkili Paneli</a
                      >                    
                    <% } %>
                  <% } else { %>
                    <a
                      href="/redeem"
                      class="transition-all duration-200 hover:text-white text-gray-300 hover:underline items-center flex mr-4"
                      >Kod Kullan</a
                    >
                  <% } %>
                </div>
              </div>
              <div class="flex-none">
                <button class="btn btn-square btn-ghost lg:hidden">
                  <i class="fal fa-bars fa-2x"></i>
                </button>
              </div>
              <% if (member) { %>
                <div class="flex-none">
                  <a class="btn btn-ghost" style="background-color: #7f4699;"
                     href="/user"><i class="fas fa-user"></i>&nbsp;<%-member.username %>#<%- member.discriminator %></a
                  >
                </div>
              <% } else { %>
                <div class="flex-none">
                  <a class="btn btn-ghost" style="background-color: #7f4699;"
                     href="/login"><i class="fal fa-sign-in fa-2x lg:mr-2"></i
                    ><span class="hidden lg:inline-block">Gİrİş Yap</span></a
                  >
                </div>
              <% } %>
            </nav>
            <div
              class="navbar mobile-menu-allegro bg-base-300 border-b border-base-300 h-auto z-20 text-neutral-content absolute transform -translate-x-full transition-all duration-200 w-full lg:hidden p-4"
            >
              <ul class="inline-block w-full">
                <li class="mb-1 w-full inline-block">
                  <a
                    href="/"
                    class="block p-4 text-sm rounded-lg font-semibold text-gray-400 hover:text-blurple transition-all duration-150 hover:bg-base-400"
                    >Ana Sayfa</a
                  >
                </li>
                <li class="mb-1 w-full inline-block">
                  <a
                    href="/threads"
                    class="block p-4 text-sm rounded-lg font-semibold text-gray-400 hover:text-blurple transition-all duration-150 hover:bg-base-400"
                    >Konular</a
                  >
                </li>
                <li class="mb-1 w-full inline-block">
                  <a
                    href="/create-thread"
                    class="block p-4 text-sm rounded-lg font-semibold text-gray-400 hover:text-blurple transition-all duration-150 hover:bg-base-400"
                    >Konu Oluştur</a
                  >
                </li>
              </ul>
            </div>
            <input class="görünmez" type="text" id="link" value="https://takolya.fun/<%- title %>" disabled>
            <div class="hero bg-base-300" style="height: 40rem">
              <div class="text-center hero-content">
                <div class="max-w-full">
                  <div class="card">
                    <div class="left">
                      <img src="https://media.discordapp.net/attachments/943521027705671700/950062401989013574/20220306_190843.png">
                    </div>
                    <div class="right">
                      <div class="product-info">
                        <div class="product-name">
                          <h1 class="text-4xl"><span style="color: #7f4699;">Konu #<%- sira || 0 %></span></h1>
                          <div class="tooltip"><button onclick="cpy()"><span class="tooltiptext" id="myTooltip">Sayfa linkini kopyala!</span><h1 class="text-2xl" style="color: #cfd4d0;"><i class="fas fa-link"></i></h1></button></div>
                        </div>
                        <div class="details">
                          <br>
                          <br>
                          <h3 class="text-2xl"><span style="color: #7f4699;">Başlık</span></h3>
                          <br>
                          <h4><%- title %></h3>
                          <br>
                          <h3 class="text-2xl"><span style="color: #7f4699;">Açıklama</span></h3>
                          <br>
                          <h4><%- desc %></h4>
                          <br>
                          <br>
                          <h4><span style="color: #7f4699;"><a href="https://discord.gg/developers"><%- discord %></a></span> tarafından açıldı.</h4>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="flex items-center justify-center">
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="bg-base-400 text-base-content">
                <footer class="max-w-6xl px-4 py-20 mx-auto footer">
                  <div>
                    <div class="inline-block text-3xl font-title">
                      <span style="color: #7f4699;">Takolya</span>
                    </div>
                    <p class="opacity-50">
                      Türkçe oyun platformu!
                    </p>
                  </div>
                  <div>
                    <span class="footer-title">Menü</span
                    ><a href="/" class="link link-hover">Ana Sayfa</a
                    ><a href="/create-thread" class="link link-hover">Konu Oluştur</a
                    >
                  </div>
                  <div>
                    <span class="footer-title">Lİnkler</span
                    ><a href="https://discord.gg/developers" class="link link-hover"
                      >Destek Sunucusu</a
                    ><a href="/login" class="link link-hover"
                      >Giriş Yap</a
                    >
                  </div>
                </footer>
              </div>
              <footer
                class="px-4 py-10 border-t footer bg-base-400 border-base-300 text-base-content footer-center"
              >
                <div
                  class="flex flex-col items-center justify-between w-full max-w-6xl sm:flex-row"
                >
                  <a
                    rel="noopener"
                    target="_blank"
                    class="inline-flex items-center justify-center hover:opacity-90"
                    ><div class="text-left">
                      <p class="text-xs text-opacity-50 text-base-content">
                        Takolya © 2022 - Tüm hakları saklıdır.
                      </p>
                    </div></a
                  >
                </div>
              </footer>
            </div>
          </div>
        </div>
      </html>
    </div>
    <script id="__NEXT_DATA__" type="application/json">
      {
        "props": { "pageProps": {} },
        "page": "/",
        "query": {},
        "buildId": "C95lqdqwZ5vGD4yNUSLu7",
        "nextExport": true,
        "autoExport": true,
        "isFallback": false,
        "scriptLoader": []
      }
    </script>
    <script>
      function cpy() {
        const text = document.getElementById('link');
        text.select();
        text.setSelectionRange(0, 99999);
        navigator.clipboard.writeText(text.value);
        alert('Sayfa linki kopyalandı!');
      }
    </script>
    <style>
      @import url('https://fonts.googleapis.com/css?family=Muli');

      /*reset*/
      * {
        margin: 0;
        padding: 0;
      }
      
      /*product info */
      
      h1 {
        color: #ff6d39;
        font-family: "muli";
        font-weight: bold;
        font-size: 22px;
        margin-top: 21px;
        display: inline-block;
      }
      
      i.fa.fa-search {
        margin-left: 90px;
      }
      
      .product-name i {
        color: #fff;
        transition: 0.3s all ease;
        margin: 0px 12px;
      }
      
      .product-name i:hover {
        color: #fff;
        cursor: pointer;
      }
      
      h4.dis {
        display: inline-block;
        color: #ffffff;
        font-family: "muli";
        font-weight: 400;
        font-size: 17px;
        margin-left: 30px;
        text-decoration: line-through #ea3201;
      }
      
      h4.dis span {
        text-decoration: line-through #ea3201;
      }
      
      .discount {
        display: inline-block;
      }
      
      ul {
        list-style-type: none;
      }
      
      li {
        display: inline-block;
        margin-right: 25px;
      }
      
      ul li {
        color: #ffffff;
        font-family: "muli";
        margin-top: 20px;
        font-weight: 500;
        font-size: 11px;
      }
      
      .bg {
        width: 15px;
        height: 15px;
        text-align: center;
        padding: 2px;
        margin-right: 20px;
        transition: 0.3s all ease;
        border-radius: 50%;
      }
      
      .bg:hover {
        background-color: #ff6d39;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        cursor: pointer;
      }
      
      .yellow {
        content: "";
        width: 13px;
        height: 13px;
        background-color: #fec60f;
        border-radius: 50%;
        border: 2px solid rgba(0, 0, 0, 0);
        transition: 0.3s all ease;
      }
      
      .black {
        content: "";
        width: 13px;
        height: 13px;
        background-color: #000000;
        border-radius: 50%;
        border: 2px solid rgba(0, 0, 0, 0);
        transition: 0.3s all ease;
      }
      
      .blue {
        content: "";
        width: 13px;
        height: 13px;
        background-color: #02a2ca;
        border-radius: 50%;
        border: 2px solid rgba(0, 0, 0, 0);
        transition: 0.3s all ease;
      }
      
      .yellow:hover,
      .black:hover,
      .blue:hover {
        border: 2px solid #f76b39;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        cursor: pointer;
      }
      
      .foot {
        color: #ffffff;
        font-family: "muli";
        margin-top: 20px;
        margin-right: 50px;
        font-weight: 500;
        font-size: 11px;
        float: left;
        transition: 0.3s all ease;
      }
      
      .foot i:nth-child(1) {
        margin-left: 0;
        margin-right: 15px;
      }
      
      .foot:hover {
        color: #f76b39;
        cursor: pointer;
      }
      
      /*shoe slider indicator*/
      
      .left i {
        color: #ffd5c6;
        margin-top: 500px;
        transition: 0.3s all ease;
      }
      
      .fa-long-arrow-left {
        margin-left: -275px;
      }
      
      .fa-long-arrow-right {
        margin-left: 15px;
      }
      
      .left i:hover {
        cursor: pointer;
        color: #2a2f40;
      }
      
      /*main card*/
      
      .card {
        display: flex;
        align-items: center;
        height: 600px;
        width: 800px;
        margin: 0 auto;
        margin-top: 2%;
      }
      
      .left {
        content: "";
        height: 395px;
        width: 330px;
        display: flex;
        align-items: center;
        background-color: #9bdc28;
        margin-left: 93px;
        border-radius: 0% 50% 50% 0%;
        position: absolute;
        z-index: 5;
      }
      
      .left img {
        margin-left: -88px;
        margin-top: 60px;
      }
      
      .right {
        content: "";
        height: 395px;
        width: 550px;
        background-color: #16181d;
        z-index: 3;
        margin-left: 200px;
      }

      .görünmez {
        background-color: #16181d;
        color: #16181d;
      }
      
      .product-info {
        position: absolute;
        margin-left: 245px;
        height: 394px;
        width: 305px;
        z-index: 10;
      }
      .tooltip {
        position: relative;
        display: inline-block;
      }
      
      .tooltip .tooltiptext {
        visibility: hidden;
        width: 140px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px;
        position: absolute;
        z-index: 1;
        bottom: 150%;
        left: 50%;
        margin-left: -75px;
        opacity: 0;
        transition: opacity 0.3s;
      }
      
      .tooltip .tooltiptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
      }
      
      .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
      }
    </style>
  </body>
  <style>
    ::-webkit-scrollbar{width:10px}::-webkit-scrollbar-track{background:#000;box-shadow:inset 0 0 8px #808080}::-webkit-scrollbar-thumb{background:#808080;border-radius:8px}::-webkit-scrollbar-thumb:hover{background:#000}
  </style>
</html>